@import './base.css';

:root {
  --header-height: 130px;
}

body {
  margin: 0;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.page-wrapper {
  padding-top: 130px; 
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
